# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Data files (이거 건들지 마라 data 커밋되면 용량이 너무 크다.)
data/
!data/*.py

# Logs
*.log
logs/

# uv
.venv
pyproject.toml
# main.py
.python-version
# .gitignore
uv.lock
.DS_Store